<%= page do %>
  <%= header do %>
    <%= link_to "Back", locations_path, 'data-icon' => 'back', 'data-direction' => 'reverse' %>
    <h1><%= @location.Name %></h1>
	<%= link_to "Favorite", favorite_path, 'data-icon' => 'star' %>
  <% end %>
  <%= content do %>
	  <ul data-role='listview'>
	    <% @facilities.each do |fac| %>
	        <li>
	          <%= link_to fac["Name"], facility_show_path(fac["Id"]) %>
	        </li>
	    <% end %>
	    <li data-theme='e' data-icon='plus'><%= link_to "Chow not listed? Add it here!", facility_new_path(@location.Id), "data-icon" => "plus" %></li>
	  </ul>
  <% end %>
  <div data-role="footer">		
    <div data-role="navbar" data-iconpos="bottom">
      <ul>
        <li><a href="/location/favorites" data-role="button" data-icon="star">Favorites</a></li>
        <li><a href="/location/index" data-role="button" data-icon="home">Locations</a></li>
        <li><a href="/content/about" data-role="button" data-icon="info">About</a></li>
      </ul>
    </div>
  </div>
<% end %>